.lecturer-label
{
  margin-top:10px;
  margin-left:20px;
  font-size:x-small;
}

.lecturer-button-pos
{
  font-size:xx-small;
  width:80px;
}

.lecturer-col-margin
{
  margin-left:10px;
}

.lecturer-col
{
  margin-top:10px;
}

.button-color1{
  color:#ff7500 !important;
}

.button-color1:hover{
  color:#ffb61e !important;
}

input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
