
.my-menu-tab{
    background-color:white !important;
    background-image:none !important;
}



.camera-icon
{
    background-image: url('../images/camera.ico') !important;
    background-repeat:no-repeat !important;
    background-position: center !important;
}

.my-image-pos{
  font-size:x-small;
}

.my-image-show img
{
   height:90px !important;
   width:69px !important;
   text-align: center !important;
}

.myitem{
   width:auto !important;
   heigth:auto !important;
   text-align: center !important;
   border-color:white !important;
   border-width:none !important;
}

.my-picture{
  width:50px !important;
  height:50px !important;
}

.my-col
{

  padding:none!important;
}


.my-gender-icon img{
	width:20px;
	height:20px;
}

.my-teacher-movie img{
	width:150px;
	height:100px;
}
.my-form-font{
	font-size:xx-small;
}

.answer-col
{
	text-decoration: underline;
  font-weight:700;
}

.my-button-pos{
	margin-top:20px;
  margin-left:5px;
	font-size:x-small;
  width:100px;
}

.my-button-font{
	font-size:x-small;
  margin-left:5px;
  margin-top:5px;
}

.my-col-margin{
}

div.my-lecturer-item{
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}


.slider-slide {
 color: #000;
 background-color: #fff;
 text-align: center;

 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 300;
}


.my-follow-image img
{
  width:333px;
	height:190px;
}

.my-follow-font{
  margin:10px;
  font-weight: 600;
  font-size:xx-small;
}

.my-follow-margin
{
   margin-left:5px;
}

.teacher-type-font{
  margin-top:3px;
  text-decoration: underline;
  margin-bottom: 3px;
}

.history-icon
{
    background-image: url('../images/log.jpg') !important;
    background-repeat:no-repeat !important;
    background-position: center !important;
}
