.item-icon-right{
  font-size:x-small;
}

.videotag-icon-font
{
  font-size:xx-small;
}

.videotag-icon img
{
  width:10px;
  height:10px;
}

.videotag-item img
{
  width:120px;
  height:80px;
}

.videotag-item
{
  border-color:white;
  border-width: none!important;
}

.videotag-col{
  width:0px;
  height:147px;
}

.videotag-label-background
{
  background-color:#fffbf0;
}

.videotag-sub-label
{
  font-size:xx-small !important;
  color:grey!important;
}
