<ion-view view-title="Home">
  <ion-content class="" scroll="false">
    <div class = "">
      <div class="item tabs tabs-secondary tabs-icon-top">
        <a class="tab-item" ng-href="#/app/main/discover/lecturers/1">
          <i class="icon ion-star"></i>
          明日之星
        </a>
        <a class="tab-item" ng-href="#/app/main/discover/lecturers/2">
          <i class="icon ion-star"></i>
          优秀讲师
        </a>

      </div>
    </div>

  </ion-content>
  <ui-view name = "discover-sub"></ui-view>

</ion-view>
