<ion-view view-title="Home">
  <ion-content class="" scroll="false">
    <div class = "">
      <div class="item tabs tabs-secondary tabs-icon-top">
        <a class="tab-item" ui-sref="app.main.discover.star">
          <i class="icon ion-star"></i>
          明日之星
        </a>
        <a class="tab-item" ui-sref="app.main.discover.lecturers">
          <i class="icon ion-star"></i>
          讲师排行
        </a>

      </div>
    </div>

  </ion-content>
  <ui-view name = "discover-sub"></ui-view>

</ion-view>
