<ion-view view-title="点豆">
  <ion-content class="" scroll="false">
    <div class = "">
      <div class="item tabs tabs-secondary tabs-icon-top">
        <a class="tab-item" ui-sref="app.main.home.interest">
          <i class="icon ion-star"></i>
          关注
        </a>
        <a class="tab-item" ui-sref="app.main.home.recommend">
          <i class="icon ion-star"></i>
          推荐
        </a>

      </div>
    </div>

  </ion-content>
  <ui-view name = "home-sub"></ui-view>

</ion-view>
