<ion-view view-title="点豆">
  <ion-tabs class="tabs-icon-top my-menu-tab">

    <ion-tab title="频道" icon="camera-icon" ui-sref="app.main.videotag">
      <ion-nav-view name="videotag-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="讲师" icon="teacher-icon" href="#/app/main/lecturer/1">
      <ion-nav-view name="lecturer-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="关注" icon="friends-icon" ui-sref="app.main.follow">
      <ion-nav-view name="follow-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="活动" icon="ion-information-circled" ui-sref="app.main.activity">
      <ion-nav-view name="activity-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
