<ion-view title="" ng-controller="FriendsCtrl">
  <ion-content class="padding has-tabs-top ">

    <div class="list" ng-repeat="friend in friends">

      <a  class="item item-avatar" href="#/app/main/videocollection/{{friend.userId}}">
        <img ng-src="{{friend.headPortrait}}">
        <h2>{{friend.userName}}</h2>
        <p>{{friend.brief}}.</p>
      </a>

    </div>

    <ion-infinite-scroll ng-if="loadMore"
                         on-infinite="onLoadMore()"
                         distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
