<ion-view title="" ng-controller="LecturersCtrl">
  <ion-content >
    <!--ion-header-bar  class="item-input-inset item-icon-right">
      <search-box search-val="searchObj.searchVal" placeholder-val="搜索讲师" on-click-callback="onSearchLecturer()">
      </search-box>
    </ion-header-bar-->
    <ion-header-bar  class="item-input-inset item-icon-right">
      <div>优秀讲师</div>
      <search-box search-val="searchObj.searchVal" placeholder-val="搜索讲师" on-click-callback="onSearchLecturer()">
      </search-box>
    </ion-header-bar>
    <div class="list" ng-repeat="userItem in lecturers">
      <div class="item my-lecturer-item" >
        <div class = "row my-form-font">
          <div class = "col my-col-margin">
            <a  href="#/app/main/ownervideolist/{{userItem.user.userId}}/{{userItem.user.userName}}">
              <div class="item-avatar" style="position:relative;">
                <img ng-src="{{userItem.user.headPortrait}}">
              </div>
              <span class="my-name-pos">{{userItem.user.userName}}</span>
            <span class="my-gender-icon" ng-switch="userItem.user.sex">
                <img ng-switch-when="0" ng-src='img/female.ico'/>
                <img ng-switch-when="1" ng-src='img/male.ico'/>
            </span>
              <!--div class="my-name-pos">{{userItem.tagList|joinTagFilter}}</div-->
            </a>
            <div class="my-button-pos">
              <button class="btn btn-warning btn-icon my-button-font" ng-click="onFollow($index)">{{userItem.isFollowed|followFilter}}
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
          <div class = "col">
            <div class="row">
              <div class="col">粉丝：</div>
              <div class="col answer-col">{{userItem.friendCount}}</div>
            </div>
            <div class = "row">
              <div class = "col">最新作品：</div>
              <div class = "col">
                <span class = "answer-col">{{userItem.latestVideo.video.status}}</span>
              </div>
            </div>
            <div class = "row">
              <div class = "col my-teacher-movie"><img src="{{userItem.latestVideo.video.videoPic}}"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <ion-infinite-scroll ng-if="loadMore"
                         on-infinite="onLoadMore()"
                         distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>


