<ion-header-bar class="bar bar-header item-input-inset comment-type">
  <input class="item-input-wrapper" width="90%" type="text"
         placeholder={{placeholderVal}}
         ng-model="searchVal"
         ng-click="onBeforeInput()"
         ng-blur="onBlur()"/>
  <button class="btn btn-warning" ng-click="onClickCallback()">确定</button>
</ion-header-bar>

<!--
<ion-header-bar class="bar bar-header item-input-inset ">
  <label>
    <span style="display:inline-block;border:1px solid red;
                    width:30px;height:30px;
                    position:absolute;right:60px;z-index:100;cursor: pointer;" ng-click="onClickCallback()"></span>
    <form id="search-type"  class="icon">
      <input type="search" placeholder={{placeholderVal}} ng-model="searchVal"
             ng-click="onBeforeInput()"
             ng-blur="onBlur()">
    </form>
  </label>
  </ion-header-bar>
</ion-header-bar>
-->
