<style type="text/css">
  input::-ms-input-placeholder{text-align: center;}
  input::-webkit-input-placeholder{text-align: center;}
</style>
<div >
  <div style="float: right; margin-left: 30px;" class=" item-input-inset">
    <input class="item-input-wrapper"  type="text"  style="text-align:center!important;"
           placeholder={{placeholderVal}}
           ng-model="searchVal"
           ng-click="onBeforeInput()"
           ng-blur="onBlur()"/>
    <button class="button button-clear" style="font-size: small; margin-left:20px;"ng-click="onClickCallback()">确定</button>
  </div>
</div>

<!--
<ion-header-bar class="bar bar-header item-input-inset ">
  <label>
    <span style="display:inline-block;border:1px solid red;
                    width:30px;height:30px;
                    position:absolute;right:60px;z-index:100;cursor: pointer;" ng-click="onClickCallback()"></span>
    <form id="search-type"  class="icon">
      <input type="search" placeholder={{placeholderVal}} ng-model="searchVal"
             ng-click="onBeforeInput()"
             ng-blur="onBlur()">
    </form>
  </label>
  </ion-header-bar>
</ion-header-bar>
-->
