<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">设置</h1>
    <div class="buttons">
      <button class="button button-clear " ng-click="confirmSetting()">取消</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <form ng-submit="doSet()">
      <div class="list">
        <a class="item item-avatar">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>修改头像</h2>
        </a>
        <label class="item item-input">
          <span class="input-label">昵称</span>
          <input type="text" placeholder="aaaaa" ng-model="loginData.username">
        </label>
        <li class="item item-toggle">
          性别：男
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <label class="item item-input">
          <span class="input-label">个性签名</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
