<ion-view ng-controller="VideoPlayCtrl" ng-init="onInit()">
  <ion-content>
    <ion-header-bar  class="item-input-inset" align-title="center">
      <div class="button icon-left ion-chevron-left button-clear" ng-click="onHistoryGoBack()"></div>
      <h1 class="title">{{videoInfo.videoName}}</h1>
    </ion-header-bar>

    <video class="video-margin" src="{{videoLink}}"
           controls="controls" width="100%" videoWidth="100%">
    </video>

    </div>
    <div class="content">
      <ul class="list">

        <li class="item-input-inset video-remark-label  item-icon-right">
          <span class="videotag-icon-font">{{videoInfo.uploadDate}}</span>
          <div class='icon' ng-click="onComment()">
            <div class="video-remark-icon"><img ng-src="img/remark.png"/></div>
          </div>
        </li>

        <div ng-repeat="comment in comments">
          <li class="item item-input-inset video-remark-label2">
            <div class="video-remark-user-image "style="position:relative;">
              <img src="{{comment.headPortrait}}">
            </div>
            <div>
              <div class="video-remark-name-color">{{comment.userName}}</div>
              <span class="video-remark-font-color">{{comment.comment}}</span>
            </div>
          </li>
        </div>
        <ion-infinite-scroll ng-if="loadMore"
                             on-infinite="onLoadMore()"
                             distance="2%">
        </ion-infinite-scroll>
      </ul>

    </div>
  </ion-content>
</ion-view>

<!--
<ion-view>
  <ion-content>
    <video src="http://localhost:8080/diandou/image/gameofrights01.mp4" controls="controls" width="100%" videoWidth="100%"></video>

    <div class="list" ng-repeat="comment in comments">

      <a  class="item item-avatar" href="#/app/main/videocollection/{{friend.userId}}">
        <img ng-src="{{friend.headPortrait}}">
        <h2>{{friend.userName}}</h2>
        <p>{{friend.brief}}.</p>
      </a>

    </div>

  </ion-content>

</ion-view>
-->
