<ion-view ng-controller="VideoPlayCtrl" ng-init="onInit()">
  <ion-content>
    <div class="bar">
      <a class="button icon-left ion-chevron-left button-clear" href="#"></a>
    </div>
    <video class="video-margin" src="{{videoLink}}"
           controls="controls" width="100%" videoWidth="100%">
    </video>

    </div>
    <div class="content">
      <ul class="list">
        <li class="item item-input-inset video-remark-label">
          <span class="video-remark-label-text">评论</span>
          <span class="video-remark-label-text">5</span>
        </li>
        <div class="video-remark-margin">
          <div class="item item-input-inset video-remark-label">
            <div class="video-remark-icon"><img src="../images/remark.jpg"/></div>
            <label class="item-input-wrapper placeholder-font">
              <input type="text" placeholder="我也说句话">
            </label>
          </div>
        </div>
        <div ng-repeat="comment in comments">
          <li class="item item-input-inset video-remark-label2">
            <div class="video-remark-user-image "style="position:relative;">
              <img src="{{comment.headPortrait}}">
            </div>
            <div>
              <div class="video-remark-name-color">{{comment.userName}}</div>
              <span class="video-remark-font-color">{{comment.comment}}</span>
            </div>
          </li>
        </div>
        <ion-infinite-scroll ng-if="loadMore"
                             on-infinite="onLoadMore()"
                             distance="2%">
        </ion-infinite-scroll>
      </ul>

    </div>
  </ion-content>
</ion-view>

<!--
<ion-view>
  <ion-content>
    <video src="http://localhost:8080/diandou/image/gameofrights01.mp4" controls="controls" width="100%" videoWidth="100%"></video>

    <div class="list" ng-repeat="comment in comments">

      <a  class="item item-avatar" href="#/app/main/videocollection/{{friend.userId}}">
        <img ng-src="{{friend.headPortrait}}">
        <h2>{{friend.userName}}</h2>
        <p>{{friend.brief}}.</p>
      </a>

    </div>

  </ion-content>

</ion-view>
-->
