<ion-view>
  <ion-content>
    <div class="content">
      <div class="list">
        <span class="item item-icon-right">
          <img class="me-icon" src='img/clock.jpg'/>
          播放记录
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right">
          <img class="me-icon" src='img/shoucang.jpg'/>
          我的收藏
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right">
          <img class="me-icon" src='img/tongzhi.jpg'/>
          系统通知
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <div class="item item-divider item-icon-right">
          个人设置
        </div>

        <span class="item item-icon-right" >
          <img class="me-icon" src='img/zhanghao.jpg'/>
          我的帐号
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right" >
          <img class="me-icon" src='img/mima.jpg'/>
          更改密码
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right" >
          <img class="me-icon" src='img/bangzhu.jpg'/>
          帮助与反馈
          <a class='icon videotag-icon'><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right">
          <img class="me-icon" src='img/aboutus.jpg'/>
          关于我们
          <a class='icon videotag-icon'><img src='img/right.jpg'/></a>
        </span>
      </div>
    </div>
    <ion-infinite-scroll ng-if="loadMore"
                         on-infinite="onLoadMore()"
                         distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
