<ion-view >
  <ion-content>
    <ion-header-bar  class="item-input-inset item-icon-right videotag-head-background">
      <div>个人信息</div>
    </ion-header-bar>
    <div>
    <div class="content">
      <div class="list">
        <span class="item item-icon-right">
          <img class="me-icon-size" src='img/clock.jpg'/>
          播放记录
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right">
          <img class="me-icon-size" src='img/shoucang.jpg'/>
          我的收藏
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right">
          <img class="me-icon-size" src='img/tongzhi.jpg'/>
          系统通知
          <a class='icon videotag-icon' href="#"><img src='img/right.jpg'/></a>
        </span>

        <div class="item item-divider item-icon-right">
        </div>

        <a class="item item-icon-right" href="#/account">
          <img class="me-icon-size" src='img/zhanghao.jpg'/>
          我的帐号
          <div class='icon videotag-icon'><img src='img/right.jpg'/></div>
        </a>

        <a class="item item-icon-right" href="#/changepswd">
          <img class="me-icon-size" src='img/mima.jpg'/>
          更改密码
          <div class='icon videotag-icon'><img src='img/right.jpg'/></div>
        </a>


        <span class="item item-icon-right" >
          <img class="me-icon-size" src='img/bangzhu.jpg'/>
          帮助与反馈
          <a class='icon videotag-icon'><img src='img/right.jpg'/></a>
        </span>

        <span class="item item-icon-right">
          <img class="me-icon-size" src='img/aboutus.jpg'/>
          关于我们
          <a class='icon videotag-icon'><img src='img/right.jpg'/></a>
        </span>
      </div>
    </div>
    <ion-infinite-scroll ng-if="loadMore"
                         on-infinite="onLoadMore()"
                         distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
