<ion-view ng-controller="NameSettingCtrl" ng-init="onInit()">
  <ion-header-bar class=" item-input-inset bar-header" align-title="center">
    <div class="button icon-left ion-chevron-left button-clear" ng-click="onHistoryGoBack()"></div>
    <h1 class="title">更改名字</h1>
    <button class="button pull-right" ng-click="onConfirm()">确定</button>
  </ion-header-bar>
  <div class="content">
    <ion-list class="list">
      <div class="item item-input-inset">
        <input type="text" ng-model="user.userName">
      </div>
    </ion-list>
    <span>好名字可以让别人记住你</span>
  </div>
</ion-view>

