<ion-view ng-controller="NameSettingCtrl" ng-init="onInit()">
  <ion-header-bar class=" item-input-inset bar-header videotag-head-background" align-title="center">
    <div class="button icon-left ion-chevron-left button-clear" ng-click="onHistoryGoBack()"></div>
    <h1 class="title">更改名字</h1>
    <button class="button button-clear" style="font-size: small; margin-right: 5px;" ng-click="onConfirm()">确定</button>
  </ion-header-bar>
  <div class="content">
      <div class="item item-input-inset">
        <input class="item-input-wrapper" type="text" ng-model="user.userName">
      </div>
    <span style="margin-left: 10px; font-size: small; color: grey; font-style: italic;">好名字可以让别人记住你</span>
  </div>
</ion-view>

