<ion-view title="Videos"  ng-controller="OwnerVideoListCtrl" ng-init="onInit()">
  <ion-content>
    <ion-header-bar  class="item-input-inset">
      <div class="button icon-left ion-chevron-left button-clear" ng-click="onHistoryGoBack()"></div>
    </ion-header-bar>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src={{userModel.user.headPortrait}}>
        <h2>{{userModel.user.userName}}</h2>
        <p>粉丝：{{userModel.friendCount}}</p>
      </div>

      <div class="item item-body">
        <p>最新力作：{{userModel.latestVideo.video.videoName}}</p>
        <a  href="#/play/{{userModel.latestVideo.video.videoId}}"><img class="full-image" ng-src={{userModel.latestVideo.video.videoPic}}></a>
        <p>
          个性签名：{{userModel.user.brief}}
        </p>
        <p>
          专业方向：{{userModel.tagList|joinTagFilter}}
        </p>
      </div>
    </div>

    <div class="bar item-input-inset">
      <span>全部课程</span>
      <search-box search-val="searchObj.searchVal" placeholder-val="搜索课程" on-click-callback="onSearchOwnerVideos()">
      </search-box>
    </div>
    <ion-list>
      <ion-item class="item-accordion" ng-repeat="videoItem in videos" ng-if="$index % 2 == 0">
        <div class="row">
          <div class="col my-col">
            <a class="item videotag-item" href="#/play/{{videos[$index].video.videoId}}" style="position:relative;">
              <div class="my-image-pos">{{videos[$index].video.status}}</div>

              <div class="videotag-image-show">
                <img ng-src="{{videos[$index].video.videoPic}}">
              </div>
              <div class="my-image-pos">{{videos[$index].video.videoName}}</div>
              <div class="videotag-sub-label">{{videos[$index].video.brief}}</div>
            </a>
          </div>
          <div class="col my-col" ng-if="videos[$index+1]">
            <a class="item videotag-item" href="#/play/{{videos[$index+1].video.videoId}}" style="position:relative;">
              <div class="my-image-pos">{{videos[$index].video.status}}</div>
              <div class="videotag-image-show">
                <img ng-src="{{videos[$index+1].video.videoPic}}">
              </div>
              <div class="my-image-pos">{{videos[$index+1].video.videoName}}</div>
              <div class="videotag-sub-label">{{videos[$index+1].video.brief}}</div>
            </a>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="loadMore"
                         on-infinite="onLoadMore()"
                         distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

