<ion-view title="Videos"  ng-controller="TagVideoListCtrl">
  <ion-content>
    <ion-header-bar  class="item-input-inset item-icon-right">
      <div class="button icon-left ion-chevron-left button-clear" ng-click="onHistoryGoBack()"></div>
      <search-box search-val="searchObj.searchVal" placeholder-val="搜索视频" on-click-callback="onSearchVideos()">
      </search-box>
    </ion-header-bar>
    <ion-list>
      <ion-item ng-repeat="videoItem in videos" ng-if="$index % 2 == 0">
        <div class="row">
          <div class="col my-col">
            <a class="item videotag-item" href="#/play/{{videos[$index].video.videoId}}" style="position:relative;">
              <div class="my-image-pos">{{videos[$index].video.status}}</div>

              <div class="videotag-image-show">
                <img ng-src="{{videos[$index].video.videoPic}}">
              </div>
              <div class="my-image-pos">{{videos[$index].video.videoName}}</div>
              <div class="videotag-sub-label">{{videos[$index].video.brief}}</div>
            </a>
          </div>
          <div class="col my-col" ng-if="videos[$index+1]">
            <a class="item videotag-item" href="#/play/{{videos[$index+1].video.videoId}}" style="position:relative;">
              <div class="my-image-pos">{{videos[$index].video.status}}</div>
              <div class="videotag-image-show">
                <img ng-src="{{videos[$index+1].video.videoPic}}">
              </div>
              <div class="my-image-pos">{{videos[$index+1].video.videoName}}</div>
              <div class="videotag-sub-label">{{videos[$index+1].video.brief}}</div>
            </a>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="loadMore"
                         on-infinite="onLoadMore()"
                         distance="2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

