<ion-view view-title="点豆" ng-controller="TagCtrl" ng-init="onInit()">
  <ion-content class="" >
    <ion-header-bar  class="item-input-inset">
      <form id="search-type">
        <input type="search" placeholder="Search">
      </form>
    </ion-header-bar>
    <div ng-repeat="tag in tags">

      <a class="item  item-input-inset item-icon-right videotag-label-background"  href="#/app/main/tagvideolist/{{tag.tagInfo.tagId}}/{{tag.tagInfo.tagName}}">
        <span>{{tag.tagInfo.tagName}}</span>
        <div class='icon videotag-icon'>
          <span class="videotag-icon-font">更多</span>
          <img src="../images/right.jpg"/>
        </div>
      </a>

      <div ng-repeat="video in tag.videoList" ng-if="$index%2 == 0">
        <div class="row">
          <div class="col videotag-col">
            <a class="item videotag-item" href="#" style="position:relative;">
              <div class="videotag-image-show">
                <img src={{tag.videoList[$index].videoPic}}>
              </div>
              <div class="my-image-pos">{{tag.videoList[$index].videoName}}</div>
              <div class="videotag-sub-label">{{tag.videoList[$index].brief}}</div>
            </a>
          </div>
          <div class="col videotag-col" ng-if="tag.videoList[$index+1]">
            <a class="item videotag-item" href="#" style="position:relative;">
              <div class="videotag-image-show">
                <img src={{tag.videoList[$index+1].videoPic}}>
              </div>
              <div class="my-image-pos">{{tag.videoList[$index + 1].videoName}}</div>
              <div class="videotag-sub-label">{{tag.videoList[$index].brief}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>




  </ion-content>

</ion-view>
















